.InputSection {
   display: flex;
   flex-direction: row;
   align-items: center;
   border-left: 1px solid rgba(0, 0, 0, 0.2);
   max-width: 338px;
   height: 100%;
   position: relative;
}

.InputContainer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-right: 64px;
}
.Input__label {
   font-weight: 400;
   font-size: 15px;
   line-height: 130%;
   color: rgba(0, 0, 0, 0.5);
}
.input {
   padding: 0;
   width: 160px;
   height: 30px;
   border: 0;
   font-weight: 300;
   font-size: 20px;
   line-height: 130%;
   letter-spacing: 0.02em;
   outline: 0;
}

.input__img {
   padding: 0 20px;
   width: 24px;
   height: 24px;
}

.zz {
   position: absolute;
   top: 100px;
}

.a {
   position: relative;
   height: 100%;
}
